<div class="p-6 space-y-6">
    {{form_start(form)}}    
        <div class="mb-6">
            {{ form_label(form.sensorId) }}
            {{ form_widget(form.sensorId) }}
        </div>
        <div class="mb-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="mb-6">
            {{ form_label(form.enabled) }}
            {{ form_widget(form.enabled) }}
        </div>
        <div class="mb-6">
            {{ form_label(form.enabledQuantities) }}
            {{ form_widget(form.enabledQuantities) }}
        </div>
            {# {{form_widget(form.id)}} #}
            {{ form_widget(form.save, {'attr': {'class': 'hidden text-white bg-blue-700 hover:bg-blue-800 rounded-lg border border-gray-200 px-5 py-2.5' }}) }}               
</div>
{{form_end(form)}}    