{% extends 'base.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block body %}
  <div class="w-full flex md:items-center md:justify-center h-screen bg-gray-100">
    <div class="flex flex-col md:flex-col w-full max-w-[400px]">
      <div class="login-login text-4xl flex justify-center mb-4">
        Meteo<b class="ml-2">MGMT</b>
      </div>
      <div class="bg-white border border-gray-200 rounded-md text-md">
        <form method="post">
          {% if error %}
            <div class="m-4 bg-red-600 text-white p-2 rounded-md">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}

          {# {% if app.user %}
            <div class="mb-3">
              You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
          {% endif %} #}
          <div class="mb-4">
            <div class="mx-4 mt-4">
              <div class="flex items-center border px-2 rounded">
                <i class="fa-solid fa-user"></i>
                <input type="text"
                  id="inputEmail"
                  name="email"
                  class="w-full h-full p-2 ml-2"
                  placeholder="Email"
                  value="{{ last_username }}"
                  autofocus />
              </div>
            </div>
            <div class="mx-4 mt-4">
              <div class="flex items-center border px-2 rounded">
                <i class="fa-solid fa-key"></i>
                <input type="password"
                  id="inputPassword"
                  name="password"
                  class="w-full h-full p-2 ml-2"
                  placeholder="Heslo" />
              </div>
            </div>

            <input type="hidden"
              name="_csrf_token"
              value="{{ csrf_token('authenticate') }}" />
          </div>

          <input type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}" />

          <div class="btn m-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              type="submit">
              Prihlásiť sa
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
