var meteoweb = meteoweb || {};
meteoweb.routes = {};
//admin quantities
meteoweb.routes['quantity_edit'] = {{path('admin_quantities_edit',{id:1})|json_encode|raw}};
meteoweb.routes['sensor_edit'] = {{path('admin_sensors_edit',{id:1})|json_encode|raw}};
meteoweb.routes['api_app_name'] = {{path('api_app_name')|json_encode|raw}};
meteoweb.routes['api_sensors'] = {{path('api_sensors')|json_encode|raw}};
meteoweb.routes['api_sensor_actual'] = {{path('api_sensor_actual',{id:1})|json_encode|raw}};
meteoweb.routes['api_sensor_previous_dates'] = {{path('api_sensor_previous_dates',{id:1})|json_encode|raw}};
meteoweb.routes['api_sensor_stats'] = {{path('api_sensor_stats',{id:1})|json_encode|raw}};