{% extends 'admin/base.html.twig' %}

{% block title %}
  Senzory
{% endblock %}

{% block body %}



<div class="container">
    <!-- Modal toggle -->
    <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="button blue" type="button">
      Pridať senzor
    </button>
    <div class="bg-white shadow-md rounded my-6">
      <table>
        <thead>
          <tr>
            <th class="">
              Názov
            </th>
            <th>
              ID
            </th>
            <th>
              Stav
            </th>
            <th>
              Posledné meranie
            </th>
            <th>
              Akcie
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-600">
        {% if (sensors|length) == 0 %}

        {% endif %}
      {% for item in sensors %}
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">{{item.name}}</td>
            <td class="py-3 px-6 text-left whitespace-nowrap">{{item.sensorId}}</td>
            <td class="py-3 px-6 text-left whitespace-nowrap">
              {% if item.enabled %}
              <i class="fa-solid fa-check"></i>
              {% else %}
                <i class="fa-solid fa-xmark"></i>
              {% endif %}
            </td>
            {# <td class="py-3 px-6 text-left whitespace-nowrap">{{item.parameterName}}</td> #}
            <td class="py-3 px-6 text-left whitespace-nowrap">
            
            </td>
            <td class="py-3 px-6 text-left whitespace-nowrap">
              <div class="edit-button pointer" data-modal-target="update-modal" data-modal-toggle="update-modal" data-id="{{item.id}}">
              {# <a href="#" class="edit-button" data-id="{{ item.id }}"> #}
                <i class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Nový senzor
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div>
            <!-- Modal body -->
              {% include 'form/sensor.html.twig' %}
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button type="button" class="js-add-button button blue mr-2">Uložiť</button>
              <button data-modal-hide="deault-modal" type="button" class="button white">Zatvoriť</button>
            </div>
        </div>
    </div>
</div>

<!-- Update modal -->
<div id="update-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="update-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="js-admin-sensor-edit">
              
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button type="button" class="js-save-button button blue mr-2">Uložiť</button>
              <button data-modal-hide="update-modal" type="button" class="button white">Zatvoriť</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.js-add-button').click(function(){
      $(this).closest('#default-modal').find('form').trigger('submit');
    });

    $('.edit-button').click(function(){
      var entityId = $(this).data('id');

      var route = meteoweb.routes['sensor_edit'];
      route = route.replace(1, entityId);

      $('.js-admin-sensor-edit').html(meteoweb.ui.loader());

      $.get(route, function(data) {
          $('.js-admin-sensor-edit').html(data);
      });
    });

    $('.js-save-button').click(function(){
      $('.js-admin-sensor-edit form ').trigger('submit');
    })
</script>

  
{% endblock %}


