{% extends 'admin/base.html.twig' %}

{% block title %}
  Admin Dashboard
{% endblock %}

{% block body %}
  <div class="container mx-auto">
    <div class="grid grid-cols-4">
      {% for item in menu %}
        <a href="{{ path(item.route) }}">
          <div class="admin-item-box">
            <div class="flex flex-row">
              <div class="icon px-2">
                <i class="{{ item.icon }}"></i>
              </div>
              <div class="flex flex-col">
                <span class="heading">{{ item.name }}</span>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
