.admin {

    table {
        @apply min-w-max w-full table-auto;
    }

    thead {
        tr {
            @apply bg-green-500 text-gray-200 uppercase leading-normal;
        }

        th {
            @apply py-3 px-6 text-left;   
        }
    }
}