@tailwind base; 
@tailwind components; 
@tailwind utilities;

@import 'colors.less';
@import 'admin.less';
@import 'buttons.less';
@import 'panel.less';
@import 'currentValuesBox.less';


body {
    background-color: lightgray;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.admin-item-box {
    display: flex;
    height: 120px;
    margin-right: 20px; 
    @apply bg-red-500 rounded-md;
}

.admin-item-box .icon {
    font-size: 90px;
    @apply text-red-300;
}

.admin-item-box .heading {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.alert {
    @apply p-4 mb-4 rounded-lg;  
}

.alert.alert-success {
    @apply text-green-800 bg-green-50;
}

.alert.alert-error {
    @apply text-red-800 bg-red-50;
}

.alert.alert-warning {
    @apply text-yellow-800 bg-yellow-50;
}

.alert.alert-info {
    @apply text-gray-800 bg-gray-50;
}

.ui-loader-icon {
    vertical-align: middle;
    margin-top: 10px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/loader.gif);
    background-size: contain;
    background-repeat: no-repeat;
}