.button {
    @apply block font-medium px-5 py-3 text-center;
    &.blue {
        @apply text-white bg-blue-700 hover:bg-blue-800;
    }

    &.white {
        @apply text-black bg-white hover:bg-gray-100 border border-gray-200;
    }
}