.current-boxes {
    color: white;
    @apply gap-2;
    .box {
        @apply p-2 flex justify-center;
        background: black;
        border-radius: 5px;
        height: 56px;
        position: relative;
        .trend {
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 100%;
            display: flex;
            align-items: center;
        }
        p {
            font-size: 20px;
        }
        &:first-child {
            height: 70px;
        }
    }
}