section.panel {

    .container {
        display: flex;
    }

    .flex-wrapper {
        display: flex;
        width: 100%;
    }

    h1.title {
        color: #fff;
        display: inline-flex;
        font-size: 25px;
        height: 100%;
        align-items: center;
    }

    .meteo-header {
        height: 80px;
        display: block;
        background-color: @darkblue ;
     }

    .menu {
        justify-content: flex-end;
        margin-left: auto;
    }

    nav {
        display: flex;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        color: #fff;
        background: @blackblue;
        align-items: center;
        ul.lists {
            
        }
    }

}



