{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="lift-stuff-app"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent() }}
    {{encore_entry_script_tags('dashboard')}}
{% endblock %}